#id{
    text-align: center;
    font-style: inherit;
    font-size: 18px;
    color: coral;
    background-color:burlywood;
}
#id1{
    color:blue;
    font-size: 12px;
    font-style: italic;
    background-color:lavender;
}
